.wrapper
  = form_with model: @menu, local: true do |form|
    .upper_menu_content
      %p MenuName : 
      = form.text_field :menu, class: 'menu_name'

    .input_form
      .input_form__column
        .input_form__column__label
          =icon('fas', 'plus-circle', class: 'icon', id: 'menu-plus')
        .input_form__column__input_name
          = form.collection_select :name, @foods, :id, :food, prompt: '選択してください'
          .label
            %p Mass [g] : 
            = form.text_field :food_mass, class: 'mass', id: 'menu_food'
        .input_form__column__box
    .calculate_box
      .calculate_box__title
        %h2 Protain Total
        %h2 Fat Total
        %h2 Carbohydrate Total
        %h2 Total Calory
      .calculate_box__result
        .calculate_box__result--protain
          %p --- kCal
        .calculate_box__result--fat
          %p --- kCal
        .calculate_box__result--carbohydrate
          %p --- kCal
        .calculate_box__result--total
          %p --- kCal

    .bottom_menu_content
      = form.submit "Menu Create", class: "btn"
      = link_to "Cancel", menus_path, class: "btn"