.menus_wrapper
  .upper-info
    %table
      %tr
        %th.table-title Menu
        %th.table-title Mass [g]
        %th.table-title Total Protain [kCal]
        %th.table-title Total Fat [kCal]
        %th.table-title Total Carb [kCal]
      - @menus.each do |menu|
        %tr
          %td.table-item
            = menu.menu
          %td.table-item
            = menu.masses.sum{ |num| num.to_i }
          %td.table-item
            = menu.total_protain
          %td.table-item
            = menu.total_fat
          %td.table-item
            = menu.total_carbohydrate

  .bottom-info
    .search-box
      - form_with url: searches_menus_path, method: get  do |f|
        = f.text_field , placeholder: 'メニューを入力してください', class: 'search-input'
        = f.submit, class: 'btn'
    = link_to root_path, class: 'fas fa-home' do
      = icon('fas', 'fa-home')
    %span<>
    = link_to new_menu_path, class: 'fas fa-plus-circle' do
      = icon("fas", "fa-plus-circle")