.user_wrapper
  %header
    %h2 ユーザー情報編集
    = image_tag 'b_ornament_146_0S.png'
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .left_box
      .field
        = f.label :nickname, value: 'ニックネーム', class: 'edit'
        = f.text_field :nickname, autofocus: true, autocomplete: "name", required: true
      .field
        = f.label :email, value: 'メールアドレス', class: 'edit'
        = f.email_field :email, autofocus: true, autocomplete: "email", required: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :height, value: '身長 [cm]' , class:'edit'
        = f.number_field :height, autocomplete: "height", placeholder: '身長を入力(任意)'
      .field
        = f.label :target_cal, value: '目標摂取カロリー' , class:'edit'
        = f.number_field :target_cal, autocomplete: "target_cal", placeholder: '目標摂取カロリー(任意)'
      .field
        = f.label :ideal_PFC_rate, value: 'ＰＦＣバランス' , class:'edit'
        = f.number_field :ideal_protain_rate, autocomplete: "ideal_protain_rate", placeholder: 'たんぱく質の摂取割合(任意)'
        = f.number_field :ideal_fat_rate, autocomplete: "ideal_fat_rate", placeholder: '脂質の摂取割合(任意)'
        = f.number_field :ideal_carbohydrate_rate, autocomplete: "ideal_carbohydrate_rate", placeholder: '炭水化物の摂取割合(任意)'
      .field
        = f.label :period, value: '定期メッセージ', class:'edit'
        = f.collection_select :period_id, Period.all, :id, :name, autocomplete: "period"
        = f.label :send_time, value: '登録時間', class: 'edit'
        = f.time_field :send_time, autocomplete: "send_time"
    .border-line
    .right_box
      .field
        .edit_label
          = f.label :password, value: '変更パスワード'
          %i (変更しない場合、空白)   
        - if @minimum_password_length
          %em
            = @minimum_password_length
            文字以上入力
        = f.password_field :password, autocomplete: "new-password", placeholder:'変更パスワード入力'
      .field
        = f.label :password_confirmation, value: '変更パスワード確認', class: 'label'
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'変更パスワード確認'
      .field
        .edit_label
          = f.label :current_password, value: '現行パスワード', class: 'label'
          %i (情報更新時に入力)
        = f.password_field :current_password, autocomplete: "current-password", placeholder:'現行パスワード入力', required: true
      .actions
        = f.submit "ユーザー情報更新"  
      .footer
        = link_to "ユーザー情報削除", user_registration_path, data: { confirm: "本当に削除しますか?" }, method: :delete, class: 'red-btn'
        = link_to "戻る", :back, class: 'btn'
