
.warpper
  .graph_upper
    .left_graph
      = image_tag 'test.png'
    .right_graph
      = image_tag 'test_1.png'
  .graph_bottom
    .left_graph
      = image_tag 'test_2.png'
    .right_graph
      = image_tag 'test_3.png'
  .bottom-info
    = link_to root_path do
      = icon('fas', 'home')
    = link_to destroy_user_session_path, method: :delete do
      = icon('fas', 'sign-out-alt')
