
.wrapper
  .side-management
    = link_to managements_path do
      = icon('fas', 'home')
      %h6.pc Home
      %h6.sp Home
    = link_to destroy_user_session_path, method: :delete do
      = icon('fas', 'sign-out-alt')
      %h6.pc Sign<br>out
      %h6.sp Sign out
  .graph_wrapper
    .graph_upper
      .left_graph
        = image_tag 'test.png'
      .right_graph
        = image_tag 'test_1.png'
    .graph_bottom
      .left_graph
        = image_tag 'test_2.png'
      .right_graph
        = image_tag 'test_3.png'