.wrapper
  .upper-info
    %table
      %tr
        %th.table-title Food
        %th.table-title Protain_rate
        %th.table-title Fat_rate
        %th.table-title Carbohydrate_rate
      %tr
        %td.table-item
        -#  = @foods.food
        %td.table-item
        -#  = @foods.protain_rate
        %td.table-item
        -#  = @foods.fat_rate
        %td.table-item
        -#  = @foods.carbohydrate_rate

  .bottom-info
    = link_to root_path, class: 'fas fa-home' do
      = icon('fas', 'fa-home')
    %span<>
    = link_to '#', class: 'fas fa-th-list' do
      = icon("fas", "fa-th-list")
    %span<>
    = link_to '#', class: 'fas fa-plus-circle' do
      = icon("fas", "fa-plus-circle")