.wrapper
  .logs_create_wrapper
    = form_with model: log, id: 'logs', local: true do |form|
      .input-form
        .upper_content
          .input_column
            %p 記録日 :
            = form.date_field :date, class: 'input_box'
          .input_column
            %p 体重 [kg] : 
            = form.number_field :weight, step: '0.1', class: 'input_box'
          .input_column
            %p 体脂肪率 [%] : 
            = form.number_field :bfp, step: '0.1', class: 'input_box'
        .comment_box
          %p コメント : 
          = form.text_area :description, class: 'comment'
        .menu_columns
          .menu_columns__col
            .menu_columns__col__label
              =icon('fas', 'plus-circle', class: 'icon', id: 'menu-plus')
            .input_name
              = form.collection_select :menu_numbers, @menus, :id, :menu, {prompt: 'メニューを選択して下さい'}, { name: 'log[menu_numbers][]'}
            .input_name_box_0#box
          
      .bottom_content
        .show_calory
          .show_calory--protain
            %h2 タンパク質 合計
            .label
              %h3 ----
              %p [kCal]
          .show_calory--fat
            %h2 脂質 合計
            .label
              %h3 ----
              %p [kCal]
          .show_calory--carbohydrate
            %h2 炭水化物 合計
            .label
              %h3 ----
              %p [kCal]
          .show_calory--total
            %h2 総カロリー
            .label
              %h3 ----
              %p [kCal]
        = form.submit "ログ作成", class: "btn"
        = link_to "キャンセル", logs_path, class: "btn"