.wrapper
  .upper-info
    %table
      %tr
        %th.table-title Date
        %th.table-title Menu
        %th.table-title Weight
        %th.table-title BFP
        %th.table-title Total Cal
      %tr
        %td.table-item
        -#  = @logs.created_at
        %td.table-item
        -#  = @logs.log_name
        %td.table-item
        -#  = @logs.weight
        %td.table-item
        -#  = @logs.bfp
        %td.table-item
        -#  = @logs.total_cal

  .bottom-info
    = link_to root_path, class: 'fas fa-home' do
      = icon('fas', 'fa-home')
    %span<>
    = link_to menus_path, class: 'fas fa-th-list' do
      = icon("fas", "fa-th-list")
    %span<>
    = link_to new_log_path, class: 'fas fa-plus-circle' do
      = icon("fas", "fa-plus-circle")