.logs_wrapper
  .upper-info
    %table
      %tr
        %th.table-title 記録日
        %th.table-title 体重 [kg]
        %th.table-title 体脂肪率 [%]
        %th.table-title 総カロリー [kCal]
        %th.table-title コメント
      - @logs.each do |log|
        %tr
          %td.table-item
            = log.date
          %td.table-item
            = log.weight
          %td.table-item
            = log.bfp
          %td.table-item
            = log.total_cal
          %td.table-item
            = log.description

  .bottom-info
    = form_with url: search_menus_path, method: :get, class: 'search-box', local: true do |f|
      = f.text_field :keyword, placeholder: '記録日またはコメントを入力して下さい', class: 'search-input'
    .icon-box
      = link_to root_path, class: 'fas fa-home' do
        = icon('fas', 'fa-home')
      %span<>
      = link_to menus_path do
        = icon("fas", "th-list")
      %span<>
      = link_to new_log_path do
        = icon("fas", "plus-circle")
      %span<>
      = link_to destroy_user_session_path, method: :delete do
        = icon('fas', 'sign-out-alt')