.wrapper
  .side-management
    = link_to graphs_path do
      = icon('far', 'chart-bar')
      %span<>
      %h6.pc Show</br>graphs
      %h6.sp Show graphs
    %span<>
    = link_to logs_path do
      = icon('fas', 'file-alt')
      %h6.pc Create</br>logs
      %h6.sp Create logs
    %span<>
    = link_to edit_user_registration_path do
      = icon('fas', 'edit')
      %h6.pc Edit</br>profile
      %h6.sp Edit profile
    %span<>
    = link_to destroy_user_session_path, method: :delete do
      = icon('fas', 'sign-out-alt')
      %h6.pc Sign</br>out
      %h6.sp Sign out
  .main_wrapper
    .top-managements
      .top-managements__left-contents
        .top-managements__left-contents--title
          %h1 BMI
        .top-managements__left-contents--value
          <h3>#{@body_mass_index.present? ? @body_mass_index : '---'}</h3>
        .top-managements__left-contents--title
          %h1 適正体重
        .top-managements__left-contents--value
          <h3>#{@weight.present? ? @weight : '---'}</h3><p>[kg]</p>
      .top-managements__right-contents
        .top-managements__right-contents-title
          %h1 体重
        .top-managements__right-contents--value
          <h3>#{@today_weight.present? ? @today_weight : '---'}</h3><p>[kg]</p>
        .top-managements__right-contents-title
          %h1 体脂肪率
        .top-managements__right-contents--value
          <h3>#{@today_bfp.present? ? @today_bfp : '---'}</h3><p>[%]</p>
    .middle-managements
      .middle-managements__left-contents
        .middle-managements__left-contents--main-title
          .main-title
            %h2 摂取カロリー
          .total-value
            <h3>#{@today_cal}</h3><p>[kCal]</p>
        .middle-managements__left-contents--title
          .titles
            %h4 たんぱく質摂取量
          .value
            <h6>#{@today_protain}</h6><p>[kCal]</p>
        .middle-managements__left-contents--title
          .titles
            %h4 脂質摂取量
          .value
            <h6>#{@today_fat}</h6><p>[kCal]</p>
        .middle-managements__left-contents--title
          .titles
            %h4 炭水化物摂取量
          .value
            <h6>#{@today_carb}</h6><p>[kCal]</p>
      .middle-managements__right-contents
        .upper-info
          %table
            %tr
              %th.table-title 記録日
              %th.table-title 体重 [kg]
              %th.table-title 体脂肪率 [%]
              %th.table-title 総カロリー [kCal]
              %th.table-title コメント
            - @detail.each do |cal|
              %tr
                %td.table-item
                  = cal.date
                %td.table-item
                  = cal.weight
                %td.table-item
                  = cal.bfp
                %td.table-item
                  = cal.total_cal
                %td.table-item
                  = cal.description
  